mixin icon(className, name)
  svg(class='icon ' + className)
    use(id=name xlink:href='./assets/images/icons/sprite.svg#' + name)

mixin strokes-title(text, fontSize, strokes, color)
  - var fontSize = rem(fontSize) + 'px' || rem(35px)
  - var strokes = strokes || true
  - var color = color || $grey
  - var classList = 'strokes-title'
  
  if strokes == false
    classList += ' strokes-title--pure'
  
  if (color == black)
    classList += ' strokes-title--black'
  
  div(class=classList)= text


mixin articleContents (listModifier, linkModifier, items, itemsMax)
  - itemsMax = itemsMax || 0
  - itemsLen = items.length > itemsMax ? items.length : itemsMax
  ul(class='nav__list '+listModifier)
    - for (i=0; i<itemsLen; i++)
        li.nav__item
            a(href= items[i].href class='nav__link ' + linkModifier)= items[i].name

mixin article(articleHeader, articleDate, articleId)
      h2(class=blog__article-header id=articleId)= articleHeader
      .blog__article-date= articleDate
